@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital@0;1&family=Lora:ital@0;1&family=Work+Sans:wght@400;700;900&family=Inter:wght@400;700;900&&display=swap");

body {
  background-color: #000;
  color: #fff;
  font-size: 15pt;
  font-family: "Lora", sans-serif;
  line-height: 1.4;
}

h1 {
  margin-top: calc(27px*2);
}

p {
  margin-top: 27px;
}

.nav {
  z-index: 1;
  height: 50px;
  width: 100%;
  position: fixed;
  background-color: magenta;
}

.column {
  max-width: 1000px;
  padding-left: 27px;
  padding-right: 27px;
  margin: auto;
}

.scroll {
  display: flex;
  margin: auto;
  margin-bottom: 27px;
}

.bar {
  flex: 2;
  padding-top: 27px;
  margin-top: 50px;
}

.code {
/*   padding: 27px; */
  height: calc(100vh - 27px*2 - 50px);
  background-color: red;
}

.tabs {
  height: 50px;
}

#code {
  width: calc(100%);
  position: absolute;
  top: 50px;
  bottom: 0px;
}

.cm-editor {
  background-color: #ffdddd;
  height: 100%;
}

.wide {
  flex: 3;
  height: auto;
  margin-left: 27px;
}

.code {
  position: sticky;
  top: calc(50px + 27px);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
